@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
.App {
  width: 100vw;
  overflow: hidden;
  /*background-color: #1a2355;*/
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 250px;
  background-color: #2f4050;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.dash {
  margin-left: 250px;
  height: 100vh;
  width: auto;
  position: relative;
  overflow: auto;
  z-index: 1;
}

.img {
  width: 100%;
  height: auto;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #293846;
}

.SidebarList #active {
  background-color: #293846;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #title {
  flex: 70%;
}

.totals {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.amount {
  text-align: center;
  font-size: 1.2rem;
  color: #fff;
}

.space {
  column-gap: 1rem;
  font-family: "Syne Mono", monospace;
}

.border {
  border-radius: 15px !important;
  padding: 10px;
}

.plus {
  color: #2ecc71;
}

.minus {
  color: #c0392b;
}

.add-goal {
  width: 100%;
}

.teste-img {
  min-width: 130px;
  border-radius: 25px;
}

card h2 {
  font-family: "Source Code Pro", monospace;
}

.login {
  background-image: linear-gradient(to right, #3dadff 0%, #0a2963 100%);
}

.budget {
  min-width: 50px;
  border-radius: 15px;
  left: 3rem;
}

.card {
  align-items: center;
  justify-content: center;
  padding: 8rem;
}

.calc {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0px;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.goal-form {
  margin: 0 auto;
  max-width: 600px;
  align-items: center;
  justify-content: center;
}

.invest-form {
  margin: 0 auto;
  width: 850px;
  padding-left: 250px;
  align-items: center;
  justify-content: center;
}

.title-dash {
  padding: 0.7rem;
  color: #0a2963;
  background-color: #3dadff;
  border-radius: 20px;
}

.input {
  border: 1px solid #0a2963;
  border-radius: 0.3em;
  padding: 0.25rem;
  width: 150px;
}

select {
  margin-left: 0.5rem;
}

.equals {
  font-weight: bold;
  font-size: 2rem;
}

.position-fixed {
  width: 100%;
  height: 100%;
}

.display-goals {
  display: flex;
  width: 490px;
  flex-wrap: wrap;
}

.table-responsive {
  max-height: 450px;
}

.goals-list {
  display: flex;
  flex-wrap: wrap;
}

.goal {
  width: 500px;
}

.user {
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.currency {
  padding: 2rem;
  width: 350px;
  height: 200px;
  margin-left: 5rem;
  background-image: linear-gradient(to right, #3dadff 0%, #0a2963 100%);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.error {
  color: red;
}

.under-graphs {
  margin-top: 25px;
}

.success {
  color: green;
}
